*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1350px;
    margin: auto;
}
@mixin media-sm{
    @media screen and (min-width:576px) {
        @content;
    }
}
@mixin media-md{
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg{
    @media screen and (min-width: 920px) {
        @content;
    }
}
@mixin media-xl{
    @media screen and (min-width: 1200px) {
        @content;
    }
}