@import 'config.scss';

.container{
    padding-inline: 16px;
}
.navbar{
    align-items: center;
    height: 80px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    i{
        font-size: 1.2rem;
    }
}
.banner{
    .banner_img{
        position: relative;
        width: 100%;
        img{
            object-fit: cover;
            width: 100%;
        }
        .banner_info{
            text-align: end;
            position: absolute;
            top: 30%;
            color: white;
            right: 11px;
            h1{
                font-size: 1.5rem;
            }
        }
    }
    .property-images{
        background-color: rgb(51, 66, 29);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        figure{
            width: 100%;
            img{
                object-fit: cover;
                width: 100%;
            }
        }
    }
}
.design{
    h2{
        color: rgb(106,132,71);
        text-align: center;
        font-size: 1.8rem;
    }
    .dream-house{
        .dream-house__img{
            width: 100%;
            img{
                object-fit: cover;
                width: 100%;
                height: 200px;
            }
        }
        .dream-house_info{
            background-color: rgb(43,49,41);
            color: rgb(152,154,58);
            padding-inline: 15px;
            h3{
                padding-block: 15px;
                font-size: 1.2rem;
            }
            p{
                padding-bottom: 15px;
            }
            a{
                font-size: 1.2rem;
                color:  rgb(152,154,58);;
            }
        }
    }
    .design-challange{
        padding-block: 50px;
        color: rgb(55,70,35);
        h2{
            font-size: 1.8rem;
        }
        p{
            width: 80%;
            text-align: center;
            margin: auto;
        }
    }
}
.what-we-do{
    padding-bottom: 20px;
    .what-we-do-content{
        width: 100%;
        background-color: rgb(192, 148, 51);
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 50px 0px;
        text-align: center;
        &__info{
            color: rgb(46,58,29);
            background-color: white;
            padding-inline: 10px;
            h3{
                font-size: 1.5rem;
                padding-block: 15px;
            }
            p{
                text-align: center;
            }
            a{
                font-size: 1.1rem;
            }
        }
        &__images{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            figure{
                width: 100%;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
.about-us{
    padding-bottom: 25px;
    &__logos{
        background-color: rgb(51, 66, 29);
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        font-size: 1.5rem;
        justify-content: space-evenly;
    }
    &__info{
        text-align: center;
    }
}
.address{
    h2{
        font-size: 2rem;
        text-align: center;
    }
    .address-content{
        padding-block: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        &_info{
            line-height: 2rem;
            color: rgb(107, 111, 98);
        }
        &_img{
            width: 100%;
            height: 100%;
            figure{
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.worked-project{
    img{
        width: 100%;
    }
}
.reviews{
    h2{
        color: rgb(106,132,71);
        padding-block: 15px;
        text-align: center;
        font-size: 1.8rem;
    }
    .review-box{
        display: grid;
        grid-template-rows: auto auto;
        &_img{
            width: 100%;
            img{
                object-fit: cover;
                width: 100%;
                height: 285px;
            }
        }
        &_info{
            padding-inline: 15px;
            background-color: rgb(43,49,41);
            color: rgb(152,154,58);
            height: 285px;
            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            &_review{
                
                h3{
                    padding-top: 15px;
                    font-size: 1.2rem;
                }
                p{
                    width: 90%;
                }
            }
        }
    }
}
.learn-more{
    text-align: center;
    .learn-more-content{
        background-color: rgb(240, 246, 239);
        h3{
            font-size: 1.5rem;
            color: black;
        }
        p{
            color: grey;
        }
        .learn-more_btn{
            padding: 10px 30px;
            border: 2px solid  rgb(51, 66, 29);
            margin-bottom: 20px;
        }
    }
}
footer{
    color: white;
    background-color:  rgb(51, 66, 29);
    .other-links{
        padding-top: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1.5rem;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .social{
        padding-block: 30px;
        color: white;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .sample-text{
        text-align: center;
    }
}
// media queries
@include media-sm{
    .banner .banner_img img {
        height: 306px
    }
    .banner .banner_img .banner_info {
        text-align: end;
        position: absolute;
        top: 30%;
        width: 80%;
    }
}
@include media-md{
    .banner{
       .banner_img{
        .banner_info{
            right: 30px;
            top: 25%;
         h1{
            font-size: 2.5rem;
            margin-left: auto;
            width: 30%;
         }
         p{
            width: 60%;
            margin-left: auto;
         }
        }
       }
    }
    .dream-house{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .what-we-do{
        .what-we-do-content__images {
            figure {
                img{
                    height: 100px;
                }
            }
        }
    } 
    .address{
        .address-content_info {
            line-height: 3rem;
            margin-block: auto;
        }
    }
    .reviews{
        h2{
            font-size: 2rem;
        }
        .review-box{
            grid-template-columns: 50% 50%;
            .review-box_info{
                figure{
                    padding-top: 15px;
                }
                h3{
                    padding-bottom: 15px;
                }
                p{
                    line-height: 1.5rem;
                }
            }
        }
    }
    .learn-more{
        h3{
            padding-block: 15px;
        }
        p{
            padding-block: 15px;
            width: 80%;
            margin: auto;
        }
    }

}
@include media-lg{
  .design{
    h2{
        font-size: 2.5rem;
    }
    .design-challange{
        h2{
            padding-block: 15px;
            font-size: 2rem;
        }
    }
  }
  .reviews{
    h2{
        font-size: 2.5rem;
    }
  }
}
@include media-xl{
    .container{
        padding-inline: 0;
    }
}